alembic==1.3.1
amqp==2.5.2
apache-airflow==1.10.10
apispec==3.1.0
argcomplete==1.10.3
asn1crypto==0.24.0
attrs==19.3.0
Babel==2.6.0
bcrypt==3.1.4
billiard==3.6.1.0
bleach>=3.1.4
cached-property==1.5.1
cattrs==0.9.0
celery==4.3.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.3.9
colorlog==4.0.2
configparser==3.5.0
croniter==0.3.25
cryptography==2.8
Cython==0.28.5
defusedxml==0.5.0
dill==0.2.8.2
docutils==0.14
Flask==1.1.1
Flask-Admin==1.5.4
Flask-AppBuilder==1.13.1
Flask-Babel==0.11.1
Flask-Bcrypt==0.7.1
Flask-Caching==1.3.3
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.3.2
flask-swagger==0.2.13
Flask-WTF==0.14.2
flower==0.9.2
funcsigs==1.0.0
future==0.16.0
gevent==1.3.6
gitdb2==2.0.4
GitPython==2.1.11
graphviz==0.13.2
greenlet==0.4.15
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
importlib-metadata==1.2.0
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10.3
json-merge-patch==0.2
jsonschema==3.2.0
kombu==4.6.3
lazy-object-proxy==1.4.3
ldap3==2.5.1
lockfile==0.12.2
lxml==4.3.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
marshmallow==2.19.5
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.18.0
monotonic==1.5
more-itertools==8.0.0
ndg-httpsclient==0.5.1
numpy==1.15.2
ordereddict==1.1
pandas==0.23.4
paramiko==2.4.2
pendulum==1.4.4
prison==0.1.0
psutil>=5.6.6
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
Pygments==2.2.0
PyJWT==1.7.1
pymssql==2.1.4
pyodbc==4.0.24
pyOpenSSL==19.1.0
pyrsistent==0.15.6
python-daemon==2.1.2
python-dateutil==2.8.1
python-editor==1.0.3
python-ldap==3.2.0
python-nvd3==0.15.0
python-slugify==1.2.6
python3-openid==3.1.0
pytz==2019.3
pytzdata==2018.5
PyYAML==5.1
redis==2.10.6
requests==2.20.0
setproctitle==1.1.10
six==1.11.0
smmap2==2.0.4
SQLAlchemy==1.3.11
SQLAlchemy-JSONField==0.9.0
sshtunnel==0.1.4
statsd==3.3.0
tableaudocumentapi==0.6
tableauserverclient==0.9
tabulate==0.7.7
tenacity==4.12.0
termcolor==1.1.0
text-unidecode==1.2
thrift==0.11.0
tornado==5.1.1
typing==3.7.4.1
typing-extensions==3.7.4.1
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.24.3
vine==1.3.0
webencodings==0.5.1
Werkzeug==0.16.0
WTForms==2.2.1
zipp==0.6.0
zope.deprecation==4.3.0
